asgiref==3.7.2
certifi==2024.2.2
cloudinary==1.38.0
Django==4.2.6
django-cors-headers==4.3.0
djangorestframework==3.14.0
email-validator==2.1.0.post1
greenlet==3.0.3
pymysql==1.1.0
pillow==10.2.0
python-dotenv==1.0.1
pytz==2023.3.post1
six==1.16.0
sqlparse==0.4.4
typing_extensions==4.9.0
urllib3==2.2.1
WTForms==3.1.2
