asgiref==3.7.2
certifi==2024.2.2
cloudinary==1.38.0
Django==4.2.6
django-cors-headers==4.3.0
djangorestframework==3.14.0
email-validator==2.1.0.post1
Flask-Mail==0.9.1
flask-mongoengine==1.0.0
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
greenlet==3.0.3
labelImg==1.8.6
mongoengine==0.27.0
mysqlclient==2.0.1
pillow==10.2.0
pymongo==4.6.1
python-dotenv==1.0.1
pyttsx3==2.71
pytz==2023.3.post1
six==1.16.0
SQLAlchemy==2.0.25
sqlparse==0.4.4
typing_extensions==4.9.0
urllib3==2.2.1
WTForms==3.1.2
